
<div *ngIf="turma">
    <h2><span jhiTranslate="aawAula3App.turma.detail.title">Turma</span> {{turma.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aawAula3App.turma.descricao">Descricao</span></dt>
        <dd>
            <span>{{turma.descricao}}</span>
        </dd>
        <dt><span jhiTranslate="aawAula3App.turma.anoIngresso">Ano Ingresso</span></dt>
        <dd>
            <span>{{turma.anoIngresso}}</span>
        </dd>
        <dt><span jhiTranslate="aawAula3App.turma.semestreIngresso">Semestre Ingresso</span></dt>
        <dd>
            <span>{{turma.semestreIngresso}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'turma/'+ turma.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
