<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProfessorLabel" jhiTranslate="aula3App.professor.home.createOrEditLabel">Create or edit a Professor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!professor.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="professor.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aula3App.professor.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                [(ngModel)]="professor.nome" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aula3App.professor.tituloFormacao" for="field_tituloFormacao">Titulo Formacao</label>
            <input type="text" class="form-control" name="tituloFormacao" id="field_tituloFormacao"
                [(ngModel)]="professor.tituloFormacao" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aula3App.professor.areaConhecimento" for="field_areaConhecimento">Area Conhecimento</label>
            <input type="text" class="form-control" name="areaConhecimento" id="field_areaConhecimento"
                [(ngModel)]="professor.areaConhecimento" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
