
<div *ngIf="aula">
    <h2><span jhiTranslate="aula3App.aula.detail.title">Aula</span> {{aula.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aula3App.aula.horarioInicial">Horario Inicial</span></dt>
        <dd>
            <span>{{aula.horarioInicial}}</span>
        </dd>
        <dt><span jhiTranslate="aula3App.aula.horarioFinal">Horario Final</span></dt>
        <dd>
            <span>{{aula.horarioFinal}}</span>
        </dd>
        <dt><span jhiTranslate="aula3App.aula.turma">Turma</span></dt>
        <dd>
            <div *ngIf="aula.turma">
                <a [routerLink]="['/turma', aula.turma?.id]">{{aula.turma?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'aula/'+ aula.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
