<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAulaLabel" jhiTranslate="aula3App.aula.home.createOrEditLabel">Create or edit a Aula</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!aula.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="aula.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aula3App.aula.horarioInicial" for="field_horarioInicial">Horario Inicial</label>
            <input type="text" class="form-control" name="horarioInicial" id="field_horarioInicial"
                [(ngModel)]="aula.horarioInicial" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aula3App.aula.horarioFinal" for="field_horarioFinal">Horario Final</label>
            <input type="text" class="form-control" name="horarioFinal" id="field_horarioFinal"
                [(ngModel)]="aula.horarioFinal" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aula3App.aula.turma" for="field_turma">Turma</label>
            <select class="form-control" id="field_turma" name="turma" [(ngModel)]="aula.turma" >
                <option [ngValue]="null"></option>
                <option [ngValue]="turmaOption.id === aula.turma?.id ? aula.turma : turmaOption" *ngFor="let turmaOption of turmas; trackBy: trackTurmaById">{{turmaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
