
<div *ngIf="usuario">
    <h2><span jhiTranslate="aula3App.usuario.detail.title">Usuario</span> {{usuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aula3App.usuario.cpf">Cpf</span></dt>
        <dd>
            <span>{{usuario.cpf}}</span>
        </dd>
        <dt><span jhiTranslate="aula3App.usuario.ativo">Ativo</span></dt>
        <dd>
            <span>{{usuario.ativo}}</span>
        </dd>
        <dt><span jhiTranslate="aula3App.usuario.permissao">Permissao</span></dt>
        <dd>
            <div *ngIf="usuario.permissao">
                <a [routerLink]="['/permissao', usuario.permissao?.id]">{{usuario.permissao?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
